<%# ページデータ %>
<%_
  const metaInfo = {
    slug: '{{slug}}',
    pageClass: '{{pageClass}}',
    title: '{{title}}',
    description: '{{description}}',
  };
_%>
<%# ファイル上部 %>
<%- include('includes/layout/_head', {meta: metaInfo}); %>
<!-- メイン -->
<main>
  
</main>
<%# ファイル下部 %>
<%- include('includes/layout/_foot', {meta: metaInfo}); %>