<!DOCTYPE html>
<%_
/**
 * ページデータ設定
 */
  const metaInfo = {
    slug: 'subpage',
    pageClass: 'subpage',
    title: 'サブページ',
    description: 'サブページの説明です',
  };
_%>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/_head',metaInfo); %>
    <link rel="stylesheet" href="/scss/style.scss">
  </head>
  <body class="<%= metaInfo.pageClass %>">
    <!-- ヘッダー -->
    <%- include('components/_header', metaInfo); %>

    <!-- メイン -->
    <main>
      <p>SUB PAGE です</p>
    </main>

    <!--フッター -->
    <script type="module" defer src="/js/main.js"></script>
  </body>
</html>

