<%# ページデータ %>
<%_
  const metaInfo = {
    slug: 'components',
    pageClass: 'components',
    title: 'コンポーネント',
    description: 'コンポーネントの見本ページです',
  };
_%>
<%# ファイル上部 %>
<%- include('includes/layout/_head', {meta: metaInfo}); %>
<!-- メイン -->
<main>
  <h1>COMPONENTS PAGE</h1>
  <h2>アコーディオン</h2>
  <details class="c-accordion">
    <summary>アコーディオンとは？</summary>
    <div>
      <p>こういうやつのことです</p>
    </div>
  </details>
  <h2>モーダル</h2>
  <dialog>
    <p>モーダル</p>
  </dialog>
  <button>モーダルを開く</button>
</main>
<%# ファイル下部 %>
<%- include('includes/layout/_foot', {meta: metaInfo}); %>