<!-- ヘッダー -->
<header>
  <% if(meta.slug === "top") { %>
    <h1><%= meta.title %></h1>
  <% } else { %>
    <p><%= meta.title %></p>
  <% } %>
  <p><%- meta.description %></p>
  <p>mode:<%- mode %></p>
</header>